@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<script data-require="jquery" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        @using (WebApplication1.Models.ApplicationDbContext c = new WebApplication1.Models.ApplicationDbContext())
        {
            var user1 = c.Users.Where(x => x.UserName == User.Identity.Name).First();
            <dt>Подписка:</dt>
            <dd>
                <a href="#" id="currentSub" data-toggle="modal" data-target="#exampleModal">@user1.SubModel.Name</a>
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                    </button>*@
            </dd>
            <dt>Дата окончания подписки:</dt>
            <dd>
                @user1.SubscriptionEndDate
            </dd>
        }
    </dl>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Подписки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (WebApplication1.Models.ApplicationDbContext c = new WebApplication1.Models.ApplicationDbContext())
            {
                var user1 = c.Users.Where(x => x.UserName == User.Identity.Name).First();
                var subs = c.SubModel.ToList();
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @for (int i = 0; i < 3; i++)
                            {

                                <div class="col-sm-4">
                                    <h3>@subs[i].Name</h3>
                                    <p><h4>Стоимость: @subs[i].SubCost</h4></p>
                                    <p style="overflow-wrap: break-word">@subs[i].Description</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @for (int i = 0; i < 3; i++)
                            {
                            <div class="col-sm-4">
                                @if (user1.SubModel.SubscriptionModelID==subs[i].SubscriptionModelID)
                                {
                                    <p><button type="button" id="@subs[i].SubscriptionModelID" class="btn btn-success disabled subbutton">Выбрана</button></p>
                                }
                                else
                                {
                                    <p><button type="button" id="@subs[i].SubscriptionModelID" class="btn btn-info subbutton">Выбрать</button></p>
                                }

                            </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
                <script>
                    $('.subbutton').on('click', '', function (event) {
                        if (!$(this).hasClass("disabled")) {
                            var t = $(this);
                            $.ajax({
                                type: 'POST',
                                contentType: "application/json; charset=utf-8",
                                data: "{ subId:" + $(this).attr("id") + "}",
                                url: "/Manage/ChangeSub",
                                success: function (result) {
                                    $('.subbutton.disabled').removeClass("btn-success");
                                    $('.subbutton.disabled').addClass("btn-info");
                                    $('.subbutton.disabled').removeClass("disabled");
                                    t.addClass("disabled");
                                    t.removeClass("btn-info");
                                    t.addClass("btn-success");
                                    $("#currentSub").text(result);
                                }
                            });
                        }
                        
                    });
                </script>
            }
        </div>
    </div>
</div>
