@model WebApplication1.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о проекте @Model.ProjectName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Описание:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            Дата создания:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDate)
        </dd>

        <dt>
            Кол-во композитов:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsedComposits.Count)
        </dd>
        <dt>
            Кол-во участников в проекте:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SharedTo.Count)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться", "Index")
</p>
