@model WebApplication1.Models.Project

@{
    ViewBag.Title = "Редактирование";
}

<h2>Управление проектом</h2>

<script data-require="jquery" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.ProjectName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProjectID)

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="control-label col-md-2"><b>Название проекта</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="control-label col-md-2"><b>Описание проекта</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden">
            @*@Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="control-label col-md-2"><b>Описание проекта</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <div class="col-md-12">
        <div class="col-md-10">
            <table id="userTable" class="table table-hover">
                <tr><th>#</th><th>Mail</th><th>Редактирование</th></tr>
                <tbody>
                    @foreach (var su in Model.SharedTo)
                    {
                        <tr id="@su.Shared.Id"><td>@su.ShareID</td><td>@su.Shared.Email</td><td>@su.isWrite</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <script>
            $('#userTable').on('click', 'tbody tr', function (event) {
                $(this).addClass('selected').siblings().removeClass('selected');
            });
        </script>
        <div class="col-md-2">
            <a class="btn btn-default" id="buttonAddU" style="width:100%" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Добавить</a>
            @*@Html.ActionLink("Добавить", "AddComposite", "ProjectsTest", new { projectId = Model.ProjectID }, new { @class = "btn btn-default", @style = "width:100%", @role = "button" })*@
            <a class="btn btn-default" id="buttonDelU" style="width:100%" href="#" role="button">Удалить</a>
            <script>
                $('#buttonDelU').on('click', '', function (event) {
                    var tr = $('#userTable .selected').closest('tr');
                    var duser = tr.attr('id');
                    if (tr) {
                        $.ajax({
                            type: 'POST',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ user: duser, projectID: @Model.ProjectID }),
                            url: "/ProjectsTest/DeleteUserFromProject",
                            success: function (res) {
                                tr.remove();
                            }
                        });
                    }
                });
            </script>
        </div>
    </div>
<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавление пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* mta = mailToAdd *@
                <input type="text" id="mta" />
                <button type="button" id="checkUser" class="btn btn-primary">Проверить</button>
                <p class="hidden" id="resTest"></p>
                <div id="checker">
                    <input type="checkbox" class="custom-control-input" id="isEdit">
                    <label class="custom-control-label" for="isEdit">Дать доступ на редактирование.</label>
                </div>
            </div>
            <script>
                function showRes(res) {
                    if (res) {
                        $('#resTest').removeClass('hidden');
                        $('#resTest').text('Пользователь найден!');
                        $('#resTest').css('color', 'green');
                    }
                    else {
                        $('#resTest').removeClass('hidden');
                        $('#resTest').text('Пользователь не найден или еще не подтвердил почту!');
                        $('#resTest').css('color', 'red');
                    }
                }
                $('#checkUser').on('click', '', function (event) {
                    var uMail = $('#mta').val();
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ user: uMail, owner: '@Model.Owner.Id' }),
                        url: "/ProjectsTest/CheckForUser",
                        success: function (res) {
                            showRes(res);
                        }
                    });
                });
            </script>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addUser" class="btn btn-primary">Save changes</button>
                <script>
                    $('#addUser').on('click', '', function (event) {
                    var uMail = $('#mta').val();
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ user: uMail, isWrite: $('#isEdit').prop('checked'), project: @Model.ProjectID }),
                        url: "/ProjectsTest/AddUserInProject",
                        success: function (ret) {
                            if (ret[0].Value) {
                                $('#userTable tr:last').after('<tr id="' + ret[1].Value + '"><td>' + ret[2].Value + '</td><td>' + uMail + '</td><td>' + ret[3].Value + '</td></tr>');
                            }
                            else {
                                $('#closeModal').trigger('click');
                                alert('Неудалось добавить пользователя!');
                            }
                        }
                    });
                });
                </script>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
