@model WebApplication1.Models.Project

@{
    ViewBag.Title = "Редактирование";
}

<h2>Управление проектом</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.ProjectName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProjectID)

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="control-label col-md-2"><b>Название проекта</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="control-label col-md-2"><b>Описание проекта</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <div class="col-md-12">
        <div class="col-md-10">
            <table id="userTable" class="table table-hover">
                <tr><th>#</th><th>Mail</th><th>Редактирование</th><th>Чтение</th></tr>
                <tbody>
                    @foreach (var su in Model.SharedTo)
                    {
                        <tr id="@su.Shared.Id"><td>@su.ShareID</td><td>@su.Shared.Email</td><td>@su.isWrite</td><td>@su.isRead</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Добавить", "AddComposite", "ProjectsTest", new { projectId = Model.ProjectID }, new { @class = "btn btn-default", @style = "width:100%", @role = "button" })
            <a class="btn btn-default" id="buttonDel" style="width:100%" href="#" role="button">Удалить</a>
            <a class="btn btn-default" id="buttonEdit" style="width:100%" href="#" role="button">Редактировать</a>
        </div>
    </div>
<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
