@model WebApplication1.Models.Project
@using WebApplication1.Models;
@{
    ViewBag.Title = "ProjectContent";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<h2>ProjectContent</h2>
<script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
<script data-require="jquery" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
<div class="col-md-12">
    <div class="col-md-10">
        <table id="userTable" class="table table-hover">
            <tbody>
                <tr><th>Название</th><th>Эластичность</th><th>Ф. когезии</th><th>Твердость</th><th>Пористость</th><th>Прочность</th><th>Теплопроводность</th></tr>
                @foreach (var c in Model.UsedComposits)
                {
                    <tr id="@c.CompositeID"><td>@c.Name</td><td>@c.Elasticity</td><td>@c.FactorKogezia</td><td>@c.Hardness</td><td>@c.Porosity</td><td>@c.Strength</td><td>@c.ThermalConduct</td></tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Добавить", "AddComposite", "ProjectsTest", new { projectId = Model.ProjectID }, new { @class = "btn btn-default", @style = "width:100%", @role = "button" })
        <a class="btn btn-default" id="buttonDel" style="width:100%" href="#" role="button">Удалить</a>
        <a class="btn btn-default" id="buttonEdit" style="width:100%" href="#" role="button">Редактировать</a>
        @Html.ActionLink("Создать материал", "ManageMaterials", "ProjectsTest", new { ownerID = Model.Owner.Id}, new { @class = "btn btn-default", @style = "width:100%", @role = "button" })
    </div>
    <script>
        $('#userTable').on('click', 'tbody tr', function (event) {
            $(this).addClass('selected').siblings().removeClass('selected');            
        });
        $('#buttonEdit').on('click', '', function (event) {
            var tr = $('#userTable .selected').closest("tr");
            if (tr.length==1) {
                var compId = tr.attr('id');
                location.href = "/ProjectsTest/AddComposite?projectId=" +@Model.ProjectID+"&compositeId=" + compId;
            }
        });
        $('#download').on('click', '', function (event) {
            var tr = $('#userTable .selected').closest("tr");
            if (tr.attr('id')) {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ compId: Number(tr.attr('id')) }),
                    url: "/ProjectsTest/PrepareFile",
                    success: function (data) {
                        var response = data;
                        window.location = '/ProjectsTest/Download?fileGuid=' + response.FileGuid
                            + '&filename=' + response.FileName;
                    }
                });
            }
        });
        $('#buttonDel').on('click', '', function (event) {
            var tr = $('#userTable .selected').closest("tr");
            if (tr.length == 1) {
                var compId = tr.attr('id');
                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: "{ CompositeID:" + compId + "}",
                    url: "/ProjectsTest/DeleteComposite",
                    success: function () {
                        tr.remove();
                    }
                });
            }
        });
    </script>
</div>

<div class="col-md-12">
    <div class="col-md-9">
        <div class="col-md-12">
            @*<div class="col-md-6">
                <div id="lineChart0" style="width: 45%; height: 300px;display: inline-block;"></div>
            </div>
            <div class="col-md-6">
                <div id="lineChart1" style="width: 45%; height: 300px;display: inline-block;"></div>
            </div>*@
            <div id="lineChart0" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
            <div id="lineChart1" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="col-md-12">
            <div id="lineChart2" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
            <div id="lineChart3" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="col-md-12">
            <div id="lineChart4" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
            <div id="lineChart5" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
        </div>
        <div class="col-md-12">
            <div id="lineChart6" class="col-md-6" style="width: 45%; height: 300px;display: inline-block;"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="range">
            <input id="porosity" type="range" name="range" min="1" max="100" value="50">
            <output id="range">50</output>
        </div>
        <div class="col-md-12" style="padding-left:0;padding-right:0">
            <table id="userTable" class="table table-hover">
                <tbody>
                    <tr><td style="padding-left:2px"><a class="btn btn-default" id="calculate" style="width:100%" href="#" role="button">Расчитать</a></td></tr>
                    <tr><td style="padding-left:2px">E - Модуль упругости, МПа:</td><td style="padding-right:2px"><input id="Elasticity" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">α - коэф.термического расширения:</td><td style="padding-right:2px"><input id="ThermalExpansion" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">HB - Твердость, МПа:</td><td style="padding-right:2px"><input id="Hardness" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">σ^2 - Предел прочности, МПа:</td><td style="padding-right:2px"><input id="StrengthBeyond" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">p - Плотность, кг/м^3:</td><td style="padding-right:2px"><input id="Density" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">Cp - Теплоемкость, Дж/кг*К:</td><td style="padding-right:2px"><input id="HeatCapacity" type="text" style="width:100%; padding:1px"></td></tr>
                    <tr><td style="padding-left:2px">λ - Теплопроводность, Вт/м*град:</td><td style="padding-right:2px"><input id="ThermalConduct" type="text" style="width:100%; padding:1px"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script type="text/javascript" src="~/Scripts/Chart.js"></script>

<script>
    var last = 0;
    var data1 = 0;

    function FillTextbox() {
        for (var i = 0; i < data1.Value.length; i++) {
            var el = $('#' + data1.Value[i][0].Value);
            el.val(data1.Value[i][2].Value[$('#range').html()]);
        }
    }

    $('#calculate').on('click', '', function (event) {
        var tr = $('#userTable .selected').closest("tr");
        if (tr.length == 1) {
            if (last != tr.attr('id')) {
                display(tr.attr('id'));
                last = tr.attr('id');
            } else {
                FillTextbox();
            }
        }

    });
    $(document).on('input', '#porosity', function () {
        $('#range').html($(this).val());
        if ($('#userTable .selected').closest("tr").length==1) {
            FillTextbox();
        }
        
    });

    function DisplayChartFromData(data, dstElement) {
        dataArray = [];

        for (var i = 0; i < data[1].Value.length; i++) {
            var d = new Object();
            d.x = data[1].Value[i];
            d.y = data[2].Value[i];
            dataArray.push(d)
        }
        var chart = new CanvasJS.Chart(dstElement, {
            theme: "light2",
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: data[3].Value
            },
            data: [
                {
                    type: "line",
                    dataPoints: dataArray
                }
            ]
        });
        chart.render();
    }

    function display(id) {
        
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: "{ id:" + id + "}",
            url: "/ProjectsTest/CalculateAll",
            success: function (result) {
                data1 = result[0];
                FillTextbox();
                DisplayChartFromData(result[0].Value[0], "lineChart0");
                DisplayChartFromData(result[0].Value[1], "lineChart1");
                DisplayChartFromData(result[0].Value[2], "lineChart2");
                DisplayChartFromData(result[0].Value[3], "lineChart3");
                DisplayChartFromData(result[0].Value[4], "lineChart4");
                DisplayChartFromData(result[0].Value[5], "lineChart5");
                DisplayChartFromData(result[0].Value[6], "lineChart6");
            }
        });
    }
</script>

