@model WebApplication1.Models.Project
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanoCalc</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("NanoCalc", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Проекты", "Index", "ProjectsTest")</li>
                    @*<li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                @*<div class="nav navbar-nav navbar-right dropdown">
                    @Html.ActionLink("Проект " + Model.ProjectName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </div>*@
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#">Проект @Model.ProjectName</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a id="download" class="dropdown-item" href="#">Скачать</a>
                                </li>
                                <li>
                                    <a id="manage" class="dropdown-item" href="/ProjectsTest/Edit/@Model.ProjectID">Управление</a>
                                </li>
                            </ul>
                            @*<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Проект @Model.ProjectName</button>*@
                            @*@Html.ActionLink("Проект " + Model.ProjectName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
