@model WebApplication1.Models.SubscriptionModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Подписка</h2>

<div>
    <h4>Подписка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Количество проектов
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProj)
        </dd>

        <dt>
            Количество участников
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfShared)
        </dd>

        <dt>
            Стоимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.SubscriptionModelID }) |
    @Html.ActionLink("Назад", "Index")
</p>
