@model IEnumerable<WebApplication1.Models.SubscriptionModel>

@{
    ViewBag.Title = "Управление подписками";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Подписки</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Количество проектов
        </th>
        <th>
            Количество участников
        </th>
        <th>
            Стоимость ? (в день/месяц?)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfProj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfShared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCost)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.SubscriptionModelID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.SubscriptionModelID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.SubscriptionModelID })
        </td>
    </tr>
}

</table>
